@charset "UTF-8";
/* src/assets/css/style.css */

html {
  font-size: 14px;
}

body {
  color: #333;
  font-family: neue-haas-grotesk-text, noto-sans-cjk-jp, sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color: #FCF9EF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #333;
  text-decoration: none;
}

.article {
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 100%;
  align-items: center;
}

.published {
  font-size: 1.4rem;
  margin-right: 20px;
  color: #888;
}

h1.title {
  font-size: 1.8em;
  padding-left: 0;
  margin-bottom: 10px;
}

.title {
  font-size: 1.8em;
  line-height: 1.6;
  font-weight: bold;
}

.title:hover {
  opacity: .5;
}

.description {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.8;

}

.tag {
  font-size: 1.2rem;
  color: 888;
  opacity: 0.7;
  letter-spacing: 1px;
  margin-right: 1rem;
}